body {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  body::before 
  {
    content: "";
    background-image: url('https://media.istockphoto.com/id/641067732/photo/jerusalem-old-city-western-wall-with-israeli-flag.jpg?s=612x612&w=0&k=20&c=GYJ98NjcTV_ROIgqqs3g5OdmLEtprvyCZ2_ZFYMq3hk=');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


#g_id_onload 
{
    margin: 100px auto;
    padding: 150px 60px; 
    filter: drop-shadow(-20px 20px 1px rgba(32, 32, 32, 0.9));
    border-radius: 5px; 
    max-width: 300px; 
    background-color: #333;
}

.g_id_signin
{
    margin-bottom: 30px;
    margin-top: -100px;
}

#username, #password
{
    border: none;
    padding: 10px;
    margin: 20px;
    width: 317px;
    margin-left: -20px;
    border-radius: 4px;
    background-color: #3f3f3f;
    filter: drop-shadow(0px 5px 1px rgb(32, 32, 32));
}

#login-button
{
    width:337px;
    margin: 30px;
    padding: 13px;
    margin-left: -20px;
    background-color: rgb(81, 164, 62);
    border-radius: 10px;
    border: none;
    color:white;
    font-family: "Lucida Console", Monaco, monospace;
    transition: 0.3s;
    font-weight: 20px;
    font-size: 15px;
    filter: drop-shadow(0px 5px 1px rgb(61, 75, 56));
    
}

#login-button:hover
{
    background-color: rgb(219, 219, 219);
    color:rgb(81, 164, 62);
    cursor: pointer;
    transform: scale(1.1);
}
 
#register {
    color: white;
    border: 1px solid red; /* Add this line */
}


#separation-line 
{
    text-align: center;
}

#separation-line span 
{
    display: inline-block;
    width: 50px; /* Adjust the width as needed */
    border-top: 1px solid #000; /* You can change the color and thickness */
    margin: 0 10px; /* Adjust the margin as needed */
  
}